<h3>Equipment</h3>
<ul>
    <li *ngFor="let stuff of cargo">
        <span *ngIf="stuffBeingEdited !== stuff; else elseBlock">
          <span (click)="edit(stuff)" class="editable-text">{{stuff.name}}</span>
          <button (click)="remove(stuff)">Remove</button>
        </span>
    
        <ng-template #elseBlock>
            <input #updatedName (keyup.enter)="save(updatedName.value, stuff)" value="{{member.name}}"/>
            <button (click)="save(updatedName.value, stuff)">Save</button>
         </ng-template>
      </li>
</ul>

<input #name type="text"/>
<button (click)="add(name.value); name.value=''">Add</button>